@tailwind base;
@tailwind components;
@tailwind utilities;






body {
  
  background: linear-gradient(
    to right,
    #181C14,#1E201E
  );
  margin: 6px;
  
}

.cutout-button {
  position: relative;
  font-size: 1.2em;
  color: #00e6e6;
  background: linear-gradient(145deg, #121212, #1f1f1f);
  border: 2px solid #00e6e6;
  border-radius: 12px;
  cursor: pointer;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
  transition: transform 0.3s, box-shadow 0.3s;
}


.cutout-button::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #00e6e6;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
  border-radius: 12px;
  opacity: 0.5;
  pointer-events: none;
  box-shadow: 0 0 10px #00e6e6, 0 0 20px #00e6e6;
}


.cutout-button:hover {
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 230, 230, 0.4);
}

.cutout-button:hover::before {
  box-shadow: 0 0 15px #00e6e6, 0 0 30px #00e6e6;
}

.icon-hover {
  transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

.icon-hover:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px #00e6e6, 0 0 10px #00e6e6, 0 0 15px #00e6e6;
  filter: brightness(1.3);
}
